.row
  .span8
    %h3 I Love Ruby Because .. 
    = form_for @letter do |f|
      = f.text_area :description, class: 'reasonText'
      - if user_signed_in?
        = f.submit 'Submit', class: 'btn primary pull-right'
      -else
        = link_to 'Submit', '#', class: 'btn primary pull-right disabled', rel: 'popover', data: {title: 'Oops!!', content: 'You need to login first to submit!!'}

%hr
.row
  .span8
    .letters
      - @letters.each do |letter|    
        %ul.breadcrumb.letters
          %li
            .voteCount.span2.pull-left
              %div{class: "countNumber #{letter.id}"}
                = letter.likes.count
              - if user_signed_in?  
                = link_to 'UpVote', '#', class: "btn likeButton #{letter.like_by?(current_user) ? 'disabled' : ''}", data: {url: like_letter_path(letter)}
              - else
                = link_to 'UpVote', '#', class: 'btn', rel: 'popover', data: {content: "You need to login first to Like it. ", title: 'Oops !!'}
            .personalInfo.pull-right
              %ul.thumbnails.pull-right
                .span1.thumbnail{style:'height:48px; width:48px;'}
                  = image_tag letter.user.image
              .span4.pull-right.names
                = letter.user.name
                %br  
                %strong
                  @
                  =letter.user.twitter_handle
        .letterDescription          
          = markdown(letter.description)
        %br
        .letterActions.pull-right
          = link_to "More", letter_path(letter)
        %hr
    = page_navigation_links @letters
          
