.row
  .col
    %h3.mb-3 I Love Ruby Because ...
    = form_for @letter, html: { class: 'letter-form' } do |f|
      = f.text_area :description, class: "form-control reason-text"
      .mt-2
        = link_to "Markdown supported", "http://daringfireball.net/projects/markdown/", role: "button"
        - if user_signed_in?
          = f.submit 'Submit', class: 'btn btn-dark float-right'
        -else
          = link_to 'Submit', '#', class: 'btn btn-dark float-right', role: "button", data: { toggle: "popover", title: "Oops!!", content: 'You need to login first to submit!!' }

%hr.mb-4
.row
  .col
    .letters-container
      - @letters.each do |letter|
        .letter
          .letter-info.row.bg-light
            .votes-counter.col-2.text-center
              %p.amount= letter.likes.count
              - if user_signed_in?
                = link_to '#', class: "like-button", role: "button", data: { url: like_letter_path(letter) } do
                  %i.like
              - else
                = link_to '#', class: 'like-button', role: "button", data: { toggle: "popover",  title: "Oops!!", content: "You need to login first to Like it." } do
                  %i.like
            .profile-info.col-10.row.no-gutters.text-right
              .data.col-10
                %p.name= letter.user.name
                %a.handle{ href: "https://www.twitter.com/#{letter.user.twitter_handle}", target: "_blank" }
                  = "@#{letter.user.twitter_handle}"
                = link_to letter_path(letter), html_options: { class: "time-ago" } do
                  = time_ago_in_words letter.created_at
                  ago
              .thumbnail.col-2
                = image_tag letter.user.image
          - truncate = letter.description.length > 274
          .letter-content.row{ class: truncate ? 'overflow' : '' }
            = markdown(letter.description)
          .actions.row
            .col
              %a.twitter-share-button{"data-size": "large", "data-hashtags": "whyloveruby",
                   href: "https://twitter.com/share", class: 'float-right',
                   "data-text": "Here is @#{letter.user.twitter_handle}\'s reason to love Ruby. -  #{letter_url(letter)}\n Tell us yours at"}
            .col.text-right
              - if truncate
                = link_to "View more", letter_path(letter), class: 'btn-link'
              - if user_signed_in?
                - if(current_user.id.to_i == letter.user_id.to_i)
                  |
                  = link_to "Edit", edit_letter_path(letter)
            :javascript
                     !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        %hr
    = paginate @letters
