.row
  .col
    %h3.mb-3 I Love Ruby Because ...
    = form_for @letter, html: { class: 'letter-form' } do |f|
      = f.text_area :description, class: "form-control reason-text"
      .mt-2
        = link_to "Markdown supported", "http://daringfireball.net/projects/markdown/", role: "button"
        - if user_signed_in?
          = f.submit 'Submit', class: 'btn btn-dark float-right'
        -else
          = link_to 'Submit', '#', class: 'btn btn-dark float-right', role: "button", data: { toggle: "popover", title: "Oops!!", content: 'You need to login first to submit!!' }

%hr
.row
  .col
    .letters
      - @letters.each do |letter|
        %ul.breadcrumb.letters{ style: "display: flex; padding: 20px" }
          %li
            .voteCount.float-left
              %div{class: "countNumber #{letter.id}"}
                = letter.likes.count
              - if user_signed_in?
                = link_to 'UpVote', '#', class: "btn likeButton #{letter.like_by?(current_user) ? 'disabled' : ''}", data: { url: like_letter_path(letter) }
              - else
                = link_to 'UpVote', '#', class: 'btn', data: { toggle: "popover", content: "You need to login first to Like it." }

            .personalInfo.float-right
              .float-right.names
                = letter.user.name
                %br
                %strong
                  %a{ href: "https:www.twitter.com/#{letter.user.twitter_handle}", target: "_blank" }
                    = "@#{letter.user.twitter_handle}"
                %br
                %small.timeAgo
                  = link_to letter_path(letter) do
                    = time_ago_in_words letter.created_at
                    ago
              .float-right.thumbnail.imageWrapper
                = image_tag letter.user.image
        -#          TODO refactor this
        - unless letter.user_id == 43
          .letterDescription
            = markdown(letter.description)
        - else
          .letterDescription43
            = markdown(letter.description)
        %br
        %div
          %div.float-left
            %a.twitter-share-button{"data-size": "large", "data-hashtags": "whyloveruby",
                 href: "https://twitter.com/share", class: 'float-right',
                 "data-text": "Here is @#{letter.user.twitter_handle}\'s reason to love Ruby. -  #{letter_url(letter)}\n Tell us yours at"}

          .clr
          :javascript
                   !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
          .letterActions.float-right
            = link_to "More", letter_path(letter), class: 'btn-link'
            - if user_signed_in?
              - if(current_user.id.to_i == letter.user_id.to_i)
                |
                = link_to "Edit", edit_letter_path(letter)
        %br
        %hr
    = paginate @letters
